/* Importar las fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Open+Sans:wght@400&display=swap');


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header, .features, .contact {
  padding: 20px;
  text-align: center;
}


.contact input, .contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .feature-list {
    flex-direction: column;
    align-items: center;
  }

  .feature-item {
    width: 80%;
    max-width: 100%;
  }

  .hero {
    padding: 50px 20px;
  }

  .cta-button {
    width: 100%;
    max-width: 300px;
  }
}
